// _posts.scss

ul.post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin-top: 2.0rem;

        .post-meta {
            color: $secondary-text-color;
        }

        .post-link {
            display: block;
            margin-top: 0.5rem;
            font-family: $accent-font-family;
            font-size: $lg-font-size;
        }
    }

    li:last-of-type {
        margin-bottom: 2.0rem;
    }
}

ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}