{% extends "layout.html.j2" %}

{#---------------------------------------------------------------------------#}
{# TOC #}
{#---------------------------------------------------------------------------#}

{% block toc %}
    <!-- toc -->
    <aside>
        <div class="toc">
            <header>
                <h1>Sections</h1>
                <a href="#">{{ ss.icon("up") }}</a>
            </header>

            {{ ss.render_toc(page.toc) }}
        </div>
    </aside>
    <!-- /toc -->
{% endblock %}

{#---------------------------------------------------------------------------#}
{# Main #}
{#---------------------------------------------------------------------------#}
{% block main %}
    <!-- article -->
    <article>
        {{ page.body }}
    </article>
    <!-- /article -->
{% endblock %}
