// Minima theme overrides
$base-font-family: "Noto Serif", serif, !default;
$base-font-weight: 400 !default;
$base-font-size:   18px !default;

$secondary-font-family: "Noto Sans", sans-serif;

$code-font-family: "Noto Sans Mono", monospace;
$code-font-weight: 400;
$code-font-style: normal;
$code-font-size: 13px;

$text-color: rgba(0, 0, 0, 0.7) !default;
$primary-text-color: rgba(0, 0, 0, 0.9) !default;
$secondary-text-color: rgba(0, 0, 0, 0.54) !default;
$code-background: #f5f5ff;
