// Minima theme overrides
$base-font-family: Georgia, "Times New Roman", serif, !default;
$base-font-size:   18px !default;
$text-color:       rgba(0, 0, 0, 0.7) !default;
$primary-text-color:       rgba(0, 0, 0, 0.9) !default;
$code-background: #f5f5ff;
