// _myst.scss

@use "variables" as var;

// Admonitions
aside.admonition {
    border-style: solid;
    border-radius: var.$code-border-radius;
    border-width: 1px 1px 1px 1px;
    border-color: var.$callout-border-color;
    background-color: var.$callout-background-color;
    margin: 2.0rem 1.0rem;

    p {
        margin: 0;
        padding: 1.0rem;
    }

    p.admonition-title {
        font-family: var.$accent-font-family;
        font-weight: var.$bold-font-weight;
        background-color: var.$accent-color;
        border-radius: var.$code-border-radius var.$code-border-radius 0 0;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

// Cards
div.card {
    border-left: 0.25rem solid var.$callout-border-color;
    border-right: 0.25rem solid var.$callout-border-color;
    background-color: var.$callout-background-color;
    margin: 2.0rem 1.0rem;

    &.align-center {
        text-align: center;
    }

    p {
        font-family: var.$accent-font-family;
        margin: 0;
        padding: 1.0rem;
    }
}
